*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container
{
    width: 600px;
    height: 596px;
    border: 3px solid#333;
    background: #8ab490;
}
.box
{
    width: 50px;
    height: 50px;
    background: #ff0000;
    border: 1px solid#333;
}